.ingredientsInfo {
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: flex-end;
}

.scrollBox {
    margin: 8px 0 8px -20px;
    padding: 0 8px 0 0;
    max-height: 464px;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    display: grid;
    grid-template-columns: repeat(1, 13px 536px);
    grid-template-rows: repeat(1, fit-content(80px));
    align-items: center;
    gap: 16px 22px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #2F2F37;
}

::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.getIngredient{
    margin: 0;
    padding: 0;
    display: flex;
}