.ingredientsInfo {
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: flex-end;
}

.scrollBox {
    margin: 8px 0 8px -20px;
    padding: 0 8px 0 0;
    max-height: 464px;
    overflow-y: scroll;
    list-style-type: none;
    scrollbar-gutter: stable;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #2F2F37;
}

::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.getIngredient{
    margin: 0;
    padding: 0;
    display: flex;
}