.main {
    composes: main from "../login/login.module.css";
}

.loginForm {
    composes: loginForm from "../login/login.module.css";
}

.button{
    composes: button from "../login/login.module.css";
    max-width: 196px;
}

.paragraphLink{
    composes: paragraphLink from "../login/login.module.css";
}