.card {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  min-width: 272px;
  position: relative;
  cursor: pointer;
}

.img {
  margin: 0;
  padding: 0;
  max-width: 240px;
  max-height: 120px;
}

.cost {
  display: flex;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 32px;
  min-height: 32px;
  background: #4c4cff;
  border-radius: 16px;
  color: #f2f2f3;
}

.name {
  display: flex;
  align-items: center;
}
