.main {
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(1, fit-content(584px));
    grid-template-rows: repeat(3, fit-content(206px));
    gap: 60px;
}

.orders {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, fit-content(292px));
    grid-template-rows: repeat(1, fit-content(206px));
    gap: 32px;
}

.ordersBox {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-width: 280px;
}

.readyOrdersList {
    margin: 24px 0 0 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, fit-content(70px));
    grid-template-rows: repeat(10, fit-content(24px));
    grid-auto-flow: column;
    gap: 8px 30px;
}

.readyOrders {
    margin: 0;
    padding: 0;
    color: #0CC;
}